<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>Created On: <%= standard_date_format(@question.created_at) %></p>

<!-- <p><strong>Subject:</strong> <%= @question.subject.name if @question.subject %></p> -->
<p><strong>Subject:</strong> <%= @question.subject&.name %></p>
<!-- <p><strong>Subject:</strong> <%#= @question.pluck(:name) %></p> -->

<p>Tags: <%= @question.tags.map(&:name).join(', ') %></p>

<%= image_tag @question.image.url(:large) if @question.image.present?%>

<%= render '/likes/like' %>

<span><%= pluralize(@question.likes.count, 'like') %></span>

<% user_vote = @question.votes.find_by_user_id current_user %>

<div class='vote-section'>
  <% if user_vote.nil? %>
    <%= link_to fa_icon('thumbs-o-up'), question_votes_path(@question, { is_up: true }),
                                        method: :post %>

    <%= link_to fa_icon('thumbs-o-down'), question_votes_path(@question, { is_up: false }),
                                          method: :post %>
  <% elsif user_vote.is_up? %>
    <%= link_to fa_icon('thumbs-up'), question_vote_path(@question, user_vote),
                                      method: :delete %>

    <%= link_to  fa_icon('thumbs-o-down'), question_vote_path(@question,
                                                user_vote,
                                                { is_up: false }),
                                            method: :patch %>
  <% else %>
    <%= link_to fa_icon('thumbs-o-up'), question_vote_path(@question,
                                              user_vote,
                                              { is_up: true }),
                                        method: :patch %>
    <%= link_to fa_icon('thumbs-down'), question_vote_path(@question, user_vote),
                                        method: :delete %>
  <% end %>
</div>

<% if can? :edit, @question %>
  <%= link_to 'Edit', edit_question_path(@question) %>

  <%# Rails enables us to make links end non-GET requests by setting the `method`
      attribute for `link_to`. Rails uses Javascript to accomplish that. %>
<% end %>

<% if can? :destroy, @question %>
  <%= link_to 'Delete', question_path(@question),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Answers</h2>
<%= render '/answers/form' %>
<hr />

<div id="answers">
  <% @question.answers.each do |ans| %>
    <%= render '/answers/answer', answer: ans %>
  <% end %>
</div>
