<h1>Contact Us</h1>

<%# form_tag is a Rails built-in helper to generate a form, the first argument
    of the `form_tag` must be the URL that the form will submit to. Generated
    form will have `POST` as their `method` and they will automatically generate
    `authenticity_token` %>
<%= form_tag contact_submit_path do %>

<div class="input-group">
  <%= label_tag :name %>
  <%= text_field_tag :name, nil, class: 'form-control' %>
</div>
<div class="input-group">
  <%= label_tag :email %>
  <%= email_field_tag :email, nil, class: 'form-control'%>
<div>
<div class="input-group">
  <%= label_tag :message %>
  <%= text_area_tag :message, nil, class: 'form-control'%>
</div>
<br>
  <%# will generates a submit button for the form with label 'Contact Us' %>
  <%= submit_tag "Contact Us", class: 'btn btn-primary' %>
<% end %>
